:root {
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
    --color-primario: #ff6347;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-fondo);
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    background-color: var(--color-blanco);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)
}


.login-form h1 {
    color: var(--color-primario);
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.login-form h2 {
    color: var(--color-texto);
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1.25rem;
}

.login-form label {
    color: var(--color-texto);
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.login-form .registro {
    font-size: 0.7rem;
    text-align: center;
    margin: 1rem;
}

.login-form a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-primario);
}

.login-form a:hover {
    text-decoration: underline;
    color: var(--color-focus);
}

.login-form input {
    width: 100%;
    padding: 0.625rem;
    border: 2px solid var(--color-borde);
    border-radius: 5px;
    font-size: 0.875rem;
    margin-bottom: 0.625rem;
    font-family: inherit; 
}

.login-form input:focus {
    outline: none;
    border-color: var(--color-focus);
    box-shadow: 0 0 3px var(--color-focus);
}

.login-form button {
    background: var(--color-primario);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: var(--color-blanco);
    font-weight:bold;
    font-size: 0.90rem;
}

.login-form button:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 1px 2px 6px var(--color-focus);
}

.login-form button:active{
    transform: translateY(1px);
    box-shadow: 0 2px 3px var(--color-focus);
    
}