@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-borde-tenue: rgba(221, 221, 221, 0.3);
    --color-focus: #ff4500;
    --color-primario: #ff6347;
    --border-radius: 8px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    background-color: var(--color-fondo);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
}

main {
    grid-row: 2;
    grid-column: 2;
    padding-top: 5.5rem;
}

.site-header {
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: var(--color-blanco);
    box-shadow: 0 4px 6px var(--color-borde-tenue);
    z-index: 1000
}

.site-header__brand {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primario);
    transition: all 0.1s ease;
    padding-left: 22rem;
}

.site-header__brand:hover {
    color: var(--color-focus);
}

.site-header__brand:active {
    transform: translateY(1px);
}

.site-nav__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding-right: 5rem;
}

#login-button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
}

#login-button:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
}

#login-button:hover .site-nav__link {
    color: var(--color-blanco);
}

#login-button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

.site-nav__item {
    align-items: center;
    margin: 1rem 1.5rem;
    padding-top: 0.5rem;
}

/* links main header */
.site-nav__link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    transition: all 0.1s ease;
}

.site-nav__link:hover {
    color: var(--color-focus)
}

.site-nav__link:active {
    transform: translateY(2px);
}

.sidebar {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100vh - 5.65rem);
    position: sticky;
    top: 5.65rem;
    width: fit-content;
    background-color: var(--color-blanco);
    box-shadow: 4px 0 6px var(--color-borde-tenue);
}

.categorias__heading {
    color: var(--color-primario);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.25rem;
    padding: 3rem 3rem 1rem 2rem;
}

.categorias {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8rem 10rem 0.8rem 2rem
}

/* links de categorias */
.categorias a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--color-texto);
    font-size: 1.2rem;
    transition: all 0.2s ease;
    padding: 0.75rem 1.25rem;
    /* borde reservado para el hover */
    border-left: 3px solid transparent;
    transition: all 0.2s ease;
}

.categorias a:hover {
    color: var(--color-focus);
    border-left: 3px solid var(--color-focus);
    background-color: var(--color-borde-tenue);
    box-shadow: 4px 0 6px var(--color-borde-tenue);

}

.categorias a:active {
    transform: translateY(3px);
}

.search {
    background-color: var(--color-blanco);
    border-radius: var(--border-radius);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: 80%;
    box-shadow: 0 4px 8px var(--color-borde-tenue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.search__label {
    font-size: 1.2rem;
}

.search__input {
    width: 85%;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    

}

.search__input:focus {
    outline: none;
    border-color: var(--color-focus);
    box-shadow: 0 0 5px var(--color-focus);
}


.search__button {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
    margin-left: 2rem;
}

.search__button:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
    color: var(--color-blanco);
}


.search__button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2.5rem;
    padding: 2rem;
    justify-items: center;

}

.products__heading {
    color: var(--color-primario);
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 1.25rem;
    padding: 3rem 3rem 1rem 3rem;
}

.productosDestacados {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 0.625rem;
    margin: 0.625rem;
    text-align: center;
    overflow: hidden;
    background-color: var(--color-blanco);
    height: 100%;
}

.productosDestacados img {
    width: 16rem;
    height: 14rem;
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: transform 0.5s ease, box-shadow 0.2s ease;
}

.productosDestacados img:hover {
    transform: scale(1.10);
    box-shadow: 0 4px 12px var(--color-borde-tenue);
}

.productos-categoria {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--color-borde);
    border-radius: var(--border-radius);
}

.productos-nombre {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.producto-descripcion {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.producto-precio {
    color: var(--color-primario);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.productosDestacados .botones {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    margin-top: auto;

}

.btn-detalles,
.btn-carrito {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    transition: all 0.1s ease;
    border: 1.5px solid var(--color-primario);
}

.btn-detalles:hover,
.btn-carrito:hover {
    cursor: pointer;
    background-color: var(--color-focus);
    box-shadow: 0 2px 4px var(--color-focus);
    color: var(--color-blanco);
}

.btn-detalles:active,
.btn-carrito:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}


/* Fondo modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal para el carrito */
.modal-ventana {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    white-space: pre-line;
    width: 35%;
    border-radius: var(--border-radius);
}

.modal-ventana__title {
    color: var(--color-primario);
}

.modal-ventana__mensaje {
    color: var(--color-texto);
    font-size: 1.2rem;
    margin-top: 2rem;

}

/* Clase para Boton que para cerrar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;       
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;   
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    padding-bottom: 2px;

}

.close:hover,
.close:focus {
    color: var(--color-blanco);
    background-color: var(--color-focus);
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px var(--color-focus);
}

.site-footer {
    grid-row: 3;
    grid-column: 1 / 3;
    width: 100%;
    background-color: var(--color-blanco);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--color-borde);
}